header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    background: #fff;
    /* border-bottom: 1px solid #d8d8d8; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.alignItemsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#buttonsPage {
    width: 42%;
}

#buttonsProfile {
    width: 290px;
    padding-right: 16px;
}

